<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Reset password</title>
</head>
<body>
    <div class="container">
        <h2>Reset password</h2>

        <form action="/reset_password" method="POST">

            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" name="email" required class="form-control">
        </form>
    </div>
</body>
</html>